<div class="container-mobile">

  <div class="prof-header text-center p-3 m-3">
    <h2 class=" form-title form-name">Modifica Profilo</h2>
  </div>

  <div class="image-form-container d-flex">
    <div class="simple-form-container w-100 px-5">

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      label: false,
                      autofocus: true %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :name,
                      required: true,
                      label: false,
                      input_html: { autocomplete: "nome" } %>
          <%= f.input :prefix,
                      collection: ["+39", "+31", "+32", "+33", "+34", "+36", "+30", "+40", "+43", "+45", "+46", "+47", "+48", "+49", "+351", "+352", "+353", "+354", "+356", "+357", "+358", "+359", "+370", "+371", "+372", "+385", "+386", "+420", "+421", "+423"],
                      input_html: { :class => 'form-control'},
                      label: false, default: "+39" %>
          <%= f.input :phone_number,
                      required: true,
                      label: false,
                      input_html: { autocomplete: "numero di telefono" } %>
          <%= f.input :photo, as: :file, label: "Foto" %>
          <%= f.input :current_password,
                      hint: "Serve la tua password per savare i cambiamenti",
                      required: true,
                      label: false,
                      placeholder: "La tua password",
                      input_html: { autocomplete: "la tua password" } %>
          <%= f.input :password,
                      hint: "Lasci questo campo vuoto se non vuoi cambiare la password",
                      required: false,
                      label: false,
                      placeholder: "Nuova password",
                      input_html: { autocomplete: "nuova-password" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      label: false,
                      placeholder: "Conferma nuova password",
                      input_html: { autocomplete: "nuova-password" } %>

        </div>

        <div class="d-flex justify-content-center">
          <div class="form-actions btn btn-ghost mt-2">
            <%= f.button :submit, "Salva" %>
          </div>
        </div>

      <% end %>

      <div class="mt-4 text-center">
        <%= link_to "Indietro", profile_path(resource_name), class: "btn-shared"%>
      </div>

      <div class="unhappy mt-4 text-center">
        <p>Non ti trovi bene? <%= link_to "Cancella il mio account", registration_path(resource_name), data: { confirm: "Sei sicuro?" }, method: :delete, class: "btn-shared" %></p>
      </div>

    </div>
  </div>
</div>
