<div class="notification" id="form-angel">
    <%= simple_form_for @angel, :remote => true do |f| %>

      <div class="notification-content">
        <%= f.input :name,
                  placeholder: 'Nome',
                  label: false %>
        <%= f.input :prefix,
                    collection: ["+39", "+45", "+15", "+2"],
                    input_html: { :class => 'form-control'},
                    label: false, default: "+39" %>
        <%= f.input :phone_number,
                  placeholder: 'Numero di Telefono',
                  label: false %>
      </div>

      <div class="notification-actions">
        <%= f.button :submit, "Salva", class: "btn form-btn" %>
      </div>

      <div class="mt-4 text-center">
        <%= link_to "Indietro", profile_path(current_user), class: "btn-shared"%>
      </div>
    <% end %>


  </div>
