<body class="dark">

  <br>
  <br>
  <div class="call-top">
    <div class="call-name">
      Dad
    </div>
  <div class="text-center mobile" id="countdown"></div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="d-flex justify-content-around text-around">

    <div id="call-angels-change" style="margin-top: 21px">

      <%= link_to call_angels_path, remote: true, class: "bg-gray btn-add-call", id: "btnchangegreencall" do %>
      <%= image_tag "phone.png", alt: "icon add call", style: 'width: 25px;'%> <% end %>

      <p id="wrtchangegreencall" class="mt-4 call-description-white">Call angels</p>

    </div>


    <div class="text-center" id="send-location-change">
      <a id="geoLoc">
      <i id="btnchangegreensendloc" class="fas fa-map-marker-alt bg-gray btn-loc"></i>
      <p id="wrtchangegreensendloc" class="call-description-white m-1">Send location</p>
      </a>
    </div>

    <div class="text-center" id="pause-audio-change">
      <i id="btnchangegreenaudio" class="fas fa-equals bg-gray btn-pause audio-pause"></i>
      <p id="wrtchangegreenaudio" class="call-description-white m-1">Pause</p>
    </div>

  </div>

  <br>
  <br>

  <div class="d-flex justify-content-around">
    <div class="text-center">
      <%= link_to profile_path do %> <i class="fas fa-phone bg-red btn-refuse audio-pause"></i> <% end %>
      <p class="call-description-white m-1">Settings</p>
    </div>
  </div>
  <br>
  <br>
  <br>
<!--
  <i class="bg-gray btn-add-call"><%= image_tag "phone.svg", alt: "icon add call", style: 'width: 25px;'%></i>
  <i class="bg-green btn-add-call"><%= image_tag "phone.svg", alt: "icon add call", style: 'width: 25px;'%></i>

  <br>
  <br>
  <br>

  <i class="fas fa-map-marker-alt bg-gray btn-loc"></i>
  <i class="fas fa-map-marker-alt bg-green btn-loc"></i>
  <br>
  <br>
  <br>
  <i class="fas fa-equals bg-gray btn-pause audio-pause"></i>
  <i class="fas fa-equals bg-green btn-pause audio-play"></i>
<br>
 -->
</body>




