<div class="prof-header text-center">
  <h1 class="prof-title">Tutorial</h1>
</div>

<div class="body-tutorial text-justify">

  <div>
    <p>Stai camminando da sola e non ti senti al sicuro, apri<i>WithU</i> and you are no longer alone.</p>
    </div>

    <hr>

    <div>
      <h5 class="subtitle">Gli Angeli</h5>
      <p>Scegli 5 persone di fiducia, verranno chiamate in una situazione di pericolo. Aggiungi gli Angeli dal tuo profilo.</p>
    </div>

    <div>
      <h5 class="subtitle">Schermo 1</h5>
      <p>La <b>suoneria</b> partirà e tu dovrai solo <b>Accettare</b> la chiamata. Condividi subito la tua <b>posizione</b> se ti senti minacciata.</p>
    </div>

  <div class="screen-one">

    <div class="description">
      <p class="desc-text"><b>Condividi posizione</b></p>
      <p class="desc-text"><b>2nd fakecall</b></p>
    </div>

    <div>
      <%= image_tag"img-tutorial/btn-loc-2ndcall.png", style: "width: 97%", class: "img-tutorial" %>
      <%= image_tag"img-tutorial/btn-setting-accept.png", style: "width: 97%", class: "img-tutorial" %>
    </div>

    <div class="description">
      <p class="desc-text"><b>Vai alle impostazioni</b></p>
      <p class="desc-text"><b>Interagisci con la fakecall</b></p>
    </div >

  <div>
    <h5 class="subtitle">Schermo 2</h5>
    <p>La <b>traccia</b> comincia in <b>3 secondi</b>. Nel frattempo chiama i tuoi <b>Angeli</b> e condividi la tua <b>posizione</b>. </p>
  </div>

  <div class="description">
    <p class="desc-text"><b>Chiama gli angeli</b></p>
    <p class="desc-text"><b>Condividi posizione</b></p>
    <p class="desc-text"><b>Metti in pausa</b></p>
  </div>

  <div>
    <%= image_tag"img-tutorial/btn-fakecall.png", style: "width: 97%", class: "img-tutorial" %>
    <%= image_tag"img-tutorial/btn-settings.png", style: "width: 97%", class: "img-tutorial" %>
  </div>

  <div class="description">
    <p class="desc-text"><b>Impostazioni</b></p>
  </div>

  <div>
      <p class="desc-pause"> Mentre <i>WithU</i> sta chiamando i tuoi angeli o condividendo la tua posizione, tu puoi <b>mettere in pausa</b> la chiamata o <b>stopparla</b>.</p>
    </div>
  </div>

<hr>

<div class="prof-header text-center">
  <h1 class="prof-title">Learn more</h1>
</div>

  <div>
      <h5 class="subtitle">Gli angeli</h5>
      <p>Scegli <b>5 persone di cui ti fidi</b>, <i>WithU</i> le chiamerà in una situazione di emergenza. Scegli saggiamente, i tuoi angeli dovrebbero essere <b>affidabili</b>. Aggiungi gli anegli dal tuo profilo. </p>
    </div>

  <div>
    <h5 class="subtitle">Schermo 1</h5>
    <p>La suoneria parte. Condividi subito la tua posizione se ti senti in pericolo. Clicca su <b>2nd call</b> se hai bisogno di una <b>registrazione diversa</b>. Premendo sul tasto rosso, andrai sempre alle impostazioni. </p>
  </div>

  <div>
    <h5 class="subtitle">Schermo 2</h5>
    <p>Hai accettato la fakecall. La traccia <b>comincia dopo 3 secondi</b>. Segui il testo e fatti rassicurare dalla voce registrata oppure chiama i tuoi angeli. Clicca il tasto <b>Chiama Angeli</b>. <i>WithU</i> ti metterà in comunicazione con loro. Appena un angelo risponde alla chiamata, <i>WithU</i> smette di chiamare gli altri. Nel frattempo puoi <b>condividere la tua posizione</b>, <b>interrompere</b> o <b>stoppare</b> la fakecall. </p>
  </div>

</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>



<%= render 'shared/navbar' %>
