<div class="prof-header text-center">
  <h1 class="prof-title">Tutorial</h1>
</div>

<div class="body-tutorial text-justify">

  <div>
    <p>You are walking alone and you don’t feel safe. You open <i>WithU</i> and you are no longer alone.</p>
    </div>

    <hr>

    <div>
      <h5 class="subtitle">Angels</h5>
      <p>Choose 5 people you trust, they will be called for you in an emergency situation. Add the angels in your profile.</p>
    </div>

    <div>
      <h5 class="subtitle">Screen 1</h5>
      <p>The <b>ringtone</b> will play and you only have to <b>Accept</b> the call. Send immediately your <b>location</b> if you feel treathend.</p>
    </div>

  <div class="screen-one">

    <div class="description">
      <p class="desc-text"><b>Send your location</b></p>
      <p class="desc-text"><b>Switch call track</b></p>
    </div>

    <div>
      <%= image_tag"img-tutorial/btn-loc-2ndcall.png", style: "width: 97%", class: "img-tutorial" %>
      <%= image_tag"img-tutorial/btn-setting-accept.png", style: "width: 97%", class: "img-tutorial" %>
    </div>

    <div class="description">
      <p class="desc-text"><b>Go to settings</b></p>
      <p class="desc-text"><b>Answer fake call</b></p>
    </div >

  <div>
    <h5 class="subtitle">Screen 2</h5>
    <p>The <b>call track</b> starts in <b>3 seconds</b>. Call your <b>Angels</b> in the background or send your <b>location</b>. </p>
  </div>

  <div class="description">
    <p class="desc-text"><b>Call Angels</b></p>
    <p class="desc-text"><b>Send location</b></p>
    <p class="desc-text"><b>Pause</b></p>
  </div>

  <div>
    <%= image_tag"img-tutorial/btn-fakecall.png", style: "width: 97%", class: "img-tutorial" %>
    <%= image_tag"img-tutorial/btn-settings.png", style: "width: 97%", class: "img-tutorial" %>
  </div>

  <div class="description">
    <p class="desc-text"><b>Settings</b></p>
  </div>

  <div>
      <p class="desc-pause"> While <i>WithU</i> is calling your angels or sending your location, you can <b>pause</b> the call or <b>end</b> it.</p>
    </div>
  </div>

<hr>

<div class="prof-header text-center">
  <h1 class="prof-title">Learn more</h1>
</div>

  <div>
      <h5 class="subtitle">Angels</h5>
      <p>Choose <b>5 people you trust the most</b>, <i>WithU</i> will call them for you in an emergency situation. Choose wisely, your angels should be <b>reliable</b> people. Add the angels in your profile. </p>
    </div>

  <div>
    <h5 class="subtitle">Screen 1</h5>
    <p>The ringtone starts playing. Send your location immediately if you feel threatened. Decide if you want to accept the fake call to see some more options. Hit <b>2nd call</b> if you need a <b>different recording</b>. If you turn the call down, you will get to the settings. </p>
  </div>

  <div>
    <h5 class="subtitle">Screen 2</h5>
    <p>You accepted the fake call. The call track <b>starts in 3 seconds</b>. Either, the voice of the speaker already calms you down, or you want to call your angels. Hit the <b>Call Angels</b> button. <i>WithU</i> will connect you to your angels. As soon as an angel picks up the phone, <i>WithU</i> will stop calling the others. In the meanwhile you <b>still</b> have the opportunity to <b>share your location</b>, to <b>interrupt</b> or to <b>stop</b> the fake call. </p>
  </div>

</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>



<%= render 'shared/navbar' %>
