<div class="container form-container">
  <div class="container prof-header text-center float-left p-3 m-3">
    <h2 class="form-title form-name">Log in</h2></h2>
  </div>

  <div class="container image-form-container float-left d-flex">
    <div class="container simple-form-container float-left">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <form>
          <div class="form-inputs">
            <div class="form-group">
              <%= f.input :email,
                          required: false,
                          placeholder: "Email",
                          autofocus: true,
                          label: false,
                          input_html: { autocomplete: "email" } %>
            </div>
            <div class="form-group">
              <%= f.input :password,
                          required: false,
                          placeholder: "Password",
                          label: false,
                          input_html: { autocomplete: "current-password" } %>
            </div>
            <div class="form-group">
              <%= f.input :remember_me,
                          class: "form-control",
                          as: :boolean if devise_mapping.rememberable? %>
            </div>
          </div>

          <div class="form-actions btn btn-ghost">
            <%= f.button :submit, "Log in" %>
          </div>
        </form>
      <% end %>
    <div class="p-3 mt-5">
      <%= render "devise/shared/links" %>
    </div>
    </div>
  </div>
</div>

