<!DOCTYPE html>
<html>
  <head>
    <title>WithU - Your digital pepper spray</title>
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="WithU" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.withu-digital-pepperspray.site/" />
    <meta property="og:image" content="<%= asset_path 'with-u-logo.png' %>" />
    <meta property="og:description" content="WithU allows you to fake an incoming call on speaker and with one tap you can share your location or reach out to your Angels.
                                            WithU, a fast way to let everyone know that you are not alone." />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable"  content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
     <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
      <%= render 'shared/ios_pwa_links' %>
  </head>

  <body>

    <%= yield %>

  </body>
</html>
